.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
}

.banner {
  position: relative;
  height: 70vh;
  max-width: 100%;
  margin-bottom: 2rem;
}

.banner:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.img-lewagon {
  height: 8rem;
}

.banner_title {
  position: absolute;
  bottom: 3rem;
}

.banner_icons a {
  font-size: 1.5rem;
  color: white !important;
  padding: 0 2rem;
  font-weight: 200;
}

.card {
  border: none;
}

.card-image {
  max-height: 20rem;
}

h1 {
  color: white;
  margin-bottom: 1.5rem;
  padding: 0 2rem;
  font-size: 5rem;
  letter-spacing: 9px;
  font-family: 'Bangers';
  font-weight: 600;
}

h3 {
  color: white !important;
  margin-bottom: 1.5rem;
  padding: 0 2rem;
  font-size: 1.5rem;
  letter-spacing: 9px;
  font-family: 'Raleway';
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 9px;
  font-family: 'Raleway';
  font-weight: 400;

}

h4 {
  font-size: 0.8rem;
  letter-spacing: 3px;
  font-family: 'Raleway';
  font-weight: 600;
}

p {
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-family: 'Raleway';
  font-weight: 400;
}

a {
  text-decoration: none !important;
  color: #7C90AF;
}

a:hover {
  text-decoration: none !important;
  color: #7C90AF;
  font-weight: 600;
}

.banner_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text {
  padding: 1.5rem;
}
.contact_text p {
  font-size: 0.7rem;
}

.about-image {
  border-radius: 5px !important;
  height: 10rem;
  margin-top: 2rem;
}

.contact_icons a {
  font-size: 1.5rem;
  color: #7C90AF !important;
  padding: 0 2rem;
  font-weight: 200;
}

.icon-services i {
  font-size: 1.5rem;
  padding: 1rem;
}

.img_skills {
  height: 3rem;
  margin: 1rem;
}

.title_skills {
  margin: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 3rem;
}
